/*EMAIL SCRIPT*/

#block-1{

	width: 373px;

	margin-left:15px;

	margin-bottom:10px;

}



#block-1 > form > h1{

	text-align:center;

}



#block-1 > form > textarea{

	width:100%;

	background:url('/images/page/input.webp');

	margin-top:25px;

}



#block-1 > form > input[type="text"]{

	width:100%;

	height:38px;

	background:url('/images/page/input.webp');

}



#block-1 > form > input::-webkit-input-placeholder{

	color:#757272e8;

}



#block-1 > form > input[type="text"]:nth-child(4){

	margin-top:25px;

}



#block-1 > form > input[type="submit"]{

	margin-top:25px;

	background: url('/images/page/input.webp');

    border: none;

    box-shadow: 0px 0px 1px 0px black;

    width: 91px;

    height: 31px;

}




#block-1 > .succes{

	text-align:center;

}



/*ELÉRHETŐSÉGEK*/



#block-2{

	width:265px;

	margin-left:auto;

	margin-right:auto;

	text-align:center;

}



#block-2 > p{

margin-bottom: -20px;	

color:#dadada;

}



#block-2 > p.cim{

font-size:1.13em;

color:#daa520;

}



#block-2 > p.utca{

font-size:0.8em;

}

#whatsapp-icon{
width: 60px;
}