.form-text {
    font-size: 5vw;
}

.input {
    width: 80%;
    background-image: url(/images/page/input.png);
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    border-style: none;
}

.input::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
}

.submit-button {
    border: none;
    background-image: url(/images/page/input.png);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 21vw;
    height: 6vw;
    margin-top: 2vw;
}

.text-center {
    text-align: center;
}

#contact-form {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#contact-form > textarea::placeholder {
    text-align: center;
}


@media (min-width: 376px) {
    .form-text {
        font-size: 4vw;
    }

    .input::placeholder {
        font-size: 3.5vw;
    }

    .submit-button {
        font-size: 3.5vw;
    }
}

@media (min-width: 510px) {
    .form-text {
        font-size: 4vw;
    }

    .input::placeholder {
        font-size: 3vw;
    }

    .submit-button {
        font-size: 3vw;
    }
}

@media (min-width: 580px) {

    .submit-button {
        font-size: 2.7vw;
    }
}

@media (min-width: 770px) {
    .form-text {
        font-size: 3vw;
    }

    .input::placeholder {
        font-size: 2vw;
    }

    .submit-button {
        font-size: 2vw;
        width: 15vw;
        height: 5vw;
    }

    .input {
        width: 60%;
        padding-top: 1vw;
        padding-bottom: 1vw;
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
    }
}

@media (min-width: 1120px) {
    .form-text {
        font-size: 2vw;
    }

    .input::placeholder {
        font-size: 1.5vw;
    }

    .submit-button {
        font-size: 1.4vw;
        width: 10vw;
        height: 3vw;
    }

    .input {
        width: 55%;
        padding-top: 1vw;
        padding-bottom: 1vw;
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
    }
}

@media (min-width: 1320px) {
    .form-text {
        font-size: 1.5vw;
    }

    .input::placeholder {
        font-size: 1.3vw;
    }

    .submit-button {
        font-size: 1.1vw;
        width: 8.5vw;
        height: 2.3vw;
    }

    .input {
        width: 49%;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
    }
}

@media (min-width: 1560px) {
    .form-text {
        font-size: 1.3vw;
        margin-top: 1vw;
        margin-bottom:1vw;
    }

    .input::placeholder {
        font-size: 1.1vw;
    }

    .submit-button {
        font-size: 1.0vw;
        width: 8.1vw;
        height: 2vw;
        margin-top:1.2vw;
    }

    .input {
        width: 49%;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
    }
}

@media (min-width: 1800px) {
    .form-text {
        font-size: 1.2vw;
        margin-top: 0.7vw;
        margin-bottom: 0.7vw;
    }

    .input::placeholder {
        font-size: 0.9vw;
    }

    .submit-button {
        font-size: 0.8vw;
        width: 7.5vw;
        height: 1.6vw;
        margin-top: 0.8vw;
    }

    .input {
        width: 45%;
        padding-top: 0.4vw;
        padding-bottom: 0.4vw;
        margin-top: 0.3vw;
        margin-bottom: 0.3vw;
    }
}