#vehicles {
    color: black;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

#gallery-container {
    display: flex;
    flex-wrap: wrap;
    place-content: center space-between;
    background-size: cover !important;
    transition-property: background-image;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 60ms;
    border-style: solid;
    border-width: 0.2vw;
    border-color:#2d2d2d;
}

.gallery-arrow {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 0vw 1vw 0vw 1vw;
    align-content: space-around;
    opacity: 0%;
    font-size: 4vw;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

#gallery-container {
    width: 63vw;
    height: 47vw;
    max-width: 100%;
}

.gallery-arrow {
    font-size: 7vw;
}

@media (min-width: 376px) {
    #gallery-container {
       width: 65vw;
       height: 49vw;
    }
}


@media (min-width: 670px) {
    #gallery-container {
        width: 68vw;
        height: 51vw;
     }
}

@media (min-width: 1200px) {
    #gallery-container {
        width: 50vw;
        height: 37vw;
     }
}