header {
    position: relative;
}

#topbar {
    display: grid;
    background: black;
    grid-template-columns: 10% [left] 10% [middle] 60% [right] 10% 10%;
    align-items: center;
    justify-items: center;
}

#topbar > div.facebook {
    grid-column: left;
    transition-property: visbility, opacity;
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#topbar > div.facebook > a > img {
    height: 25px;
    border-radius: 20%;
    display: block;
}

#topbar > #sitelogo {
    grid-column: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    background-image: url(/images/page/logo_menu_closed.webp);
    width: 90px;
    height: 90px;
    margin-top: 1.5vw;
}


nav {
    z-index: 1;
}

nav > #site-name,
nav > #nav-links {
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* HEADER SMALL */

header.small.opened > #topbar {
    background: #000000f2;
}

header.small.opened > #topbar > div.facebook {
    opacity: 0;
    visibility: hidden;
}

header.small > #topbar > #sitelogo {
    transition-property: background-image;
    transition-timing-function: linear;
    transition-duration: 200ms;
}

header.small.opened > #topbar > #sitelogo {
    background-image: url(/images/page/logo_menu_opened.webp);
}

header.small > #topbar > #navicon {
    grid-column: right;
    display: grid;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
}

header.small > #topbar > #navicon > .menuline {
    transition-property: transform, margin, color;
    transition-timing-function: linear;
    transition-duration: 200ms;
    grid-column:1;
    grid-row:1;
    background: #a77d14;
    width: 24px;
    height: 3px;
}

header.small.opened > #topbar > #navicon > .menuline {
    background: #c7bcb6;
}

header.small.closed > #topbar > #navicon > #firstline {
    margin-bottom: 10px;
}

header.small.closed > #topbar > #navicon > #secondline {
    margin-top:10px;
}

header.small.opened > #topbar > #navicon > #firstline{
    margin: 0;
    transform: rotate(45deg);
}

header.small.opened > #topbar > #navicon > #secondline{
    margin: 0;
    transform: rotate(-45deg);
}


header.small > nav{
    position: fixed;
    background: #000000de;
    height: 100%;
    width: 100%;
    transition-property: visibility, opacity;
    transition-duration: 200ms;
    transition-timing-function: linear;
}


header.small.closed > nav {
    opacity: 0;
    visibility: hidden;
}

header.small.opened > nav {
    opacity: 100;
}

header.small > nav > #site-name {
    color: #c7bcb6;
    font-size: 1.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

header.small > nav > #site-name > .side-icon {
    font-size: 0.23em;
    padding: 2vw;
}

header.small > nav > #nav-links {
    display: flex;
    align-items: center;
    flex-direction: column;
}


header.small > nav > #nav-links > span {
    padding-top: 0.4rem;;
}


header.small > nav > #nav-links > span > a {
    color:#a77d14;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Alegreya SC', serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* HEADER BIG */

header.big > nav {
    display: grid;
    grid-template-columns: 5% [left] 10% [middle] 70% [right] 10% 5%;
    grid-template-rows: [top] 50% [bottom] 50%;
    align-items: center;
    justify-items: center;
    background: #0000009e;
}


header.big > nav > #site-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: last;
    font-size: 4vw;
    width: 100%;
    background: black;
    color: #cd9303;
}

header.big > nav > #site-name > .side-icon {
    font-size: 20px;
    padding: 11px;
}

header.big > nav > #nav-links {
    grid-column: middle;
    grid-row: bottom;
    display: flex;
    justify-content: center;
}

header.big > nav > #nav-links > span {
    list-style: none;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}


header.big > nav > #nav-links > span > a {
    color:#7f7055;
    display: block;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Alegreya SC', serif;
    transition-property: color;
    transition-duration: 600ms;
    transition-property: color;
}

header.big > nav > #nav-links > span > a:hover {
    color:#b9a889;
}

@media (min-width: 376px) {
    
    header > #topbar > #sitelogo {
        width: 105px;
        height: 105px;
    }
}

@media (min-width: 480px) {
    header > #topbar > div.facebook > a > img {
        height: 30px;
    }
    
    header > #topbar > #sitelogo {
        width: 110px;
        height: 110px;
    }

    header.small > nav > #site-name {
        font-size: 2.5em;
    }

    header.small > nav > #nav-links > span > a {
        font-size: 1.7em;
    }

}

@media (min-width: 580px) {
    header.small > nav > #site-name {
        font-size: 2.8em;
    }

    header.small > nav > #nav-links > span > a {
        font-size: 2.2em;
    }

    header.small > nav > #site-name > .side-icon {
        font-size: 0.25em;
        padding: 1.8vw;
    }
}

@media (min-width: 620px) {
    header > #topbar > div.facebook > a > img {
        height:32px;
    }

    header > #topbar > #sitelogo {
        width: 130px;
        height: 130px;
    }

    header.small > nav > #site-name {
        font-size: 3.2em;
    }

    header.small > nav > #site-name > .side-icon {
        font-size: 0.23em;
        padding: 1.8vw;
    }

    header.small > #topbar > #navicon > .menuline {
        width: 34px;
    }
}

@media (min-width: 769px) {
    header > #topbar > div.facebook > a > img {
        height: 36px;
    }

    header > #topbar > #sitelogo {
        width: 120px;
        height: 120px;
        margin-bottom: 1.5vw;
    }

    header.big > nav > #site-name {
        font-size: 3.6em;
    }

    header.big > nav > #site-name > .side-icon {
        font-size: 0.2em;
        padding: 1.3vw;
    }

    header.big > nav > #nav-links > span > a {
        font-size: 1.4em;
    }
}

@media (min-width: 1020px) {
    header > #topbar {
        grid-template-columns: 15% [left] 10% [middle] 50% [right] 10% 15%;
    }

    header > #topbar > #sitelogo {
        width: 110px;
        height: 110px;
        margin-bottom: 1.5vw;
    }

    header.big > nav > #site-name {
        font-size: 4em;
    }

    header.big > nav > #site-name > .side-icon {
        font-size: 0.2em;
        padding: 1vw;
    }

    header.big > nav > #nav-links > span > a {
        font-size: 1.8em;
    }
}

@media (min-width: 1250px) {
    
    header > #topbar {
        grid-template-columns: 17% [left] 10% [middle] 46% [right] 10% 17%;
    }
    header > #topbar > div.facebook > a > img {
        height: 37px;
    }

    header.big > nav > #site-name {
        font-size: 4.2em;
    }

    header.big > nav > #site-name > .side-icon {
        font-size: 1.1vw;
        padding: 1vw;
    }

    header.big > nav > #nav-links > span > a {
        font-size: 2em;
    }
}

@media (min-width: 1560px) {
    header > #topbar {
        grid-template-columns: 19% [left] 10% [middle] 42% [right] 10% 19%;
    }

    header > #topbar > #sitelogo {
        width: 120px;
        height: 120px;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    header.big > nav > #site-name {
        font-size: 4.5em;
    }

    header.big > nav > #site-name > .side-icon {
        font-size: 0.2em;
        padding: 0.9vw;
    }

    header.big > nav > #nav-links > span > a {
        font-size: 2.2em;
    }
}

@media (min-width: 1800px) {
    header > #topbar {
        grid-template-columns: 20% [left] 10% [middle] 40% [right] 10% 20%;
    }

    header > #topbar > #sitelogo {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    header.big > nav > #site-name {
        font-size: 4.5em;
    }

    header.big > nav > #site-name > .side-icon {
        font-size: 0.2em;
        padding: 0.7vw;
    }

    header.big > nav > #nav-links > span > a {
        font-size: 2.1em;
    }
}

@media (min-width: 1980px) {
    header > #topbar > #sitelogo {
        width: 140px;
        height: 140px;
    }
}

@media (min-width: 2300px) {
    header > #topbar {
        grid-template-columns: 23% [left] 10% [middle] 34% [right] 10% 23%;
    }

    header > #topbar > div.facebook > a > img {
        height: 45px;
    }    

    header > #topbar > #sitelogo {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    header.big > nav > #site-name {
        font-size: 5em;
    }

    header.big > nav > #site-name > .side-icon {
        font-size: 0.2em;
        padding: 0.5vw;
    }

    header.big > nav > #nav-links > span > a {
        font-size: 2.2em;
    }
}