#sitelogo {
    grid-column: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    width: 101px;
    height: 130px;
    transition-property: background-image;
    transition-timing-function: linear;
    transition-duration: 200ms;
}

header.opened > #topbar > #sitelogo {
    background-image: url(/images/page/logo_menu_opened.webp);
}

header.closed > #topbar > #sitelogo {
    background-image: url(/images/page/logo_menu_closed.webp);
}

header > #topbar > #sitelogo > a {
    display: block;
    height: 100%;
    width:100%;
}


header.small > #topbar {
    position: fixed;
    width: 100%;
    height: 20vw;
    display: grid;
    background: black;
    grid-template-columns: [left] 10% [middle] 80% [right] 10%;
    align-items: center;
    justify-items: center;
}

header.small.opened > #topbar {
    background: #000000f2;
}

header.small > #topbar > #navicon {
    grid-column: right;
    display: grid;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
}

header.small > #topbar > #navicon > .menuline {
    transition-property: transform, margin, color;
    transition-timing-function: linear;
    transition-duration: 200ms;
    grid-column:1;
    grid-row:1;
    background: #a77d14;
    width: 35px;
    height: 5px;
}

header.small.opened > #topbar > #navicon > .menuline {
    background: #c7bcb6;
}

header.small.closed > #topbar > #navicon > #firstline {
    margin-bottom: 10px;
}

header.small.closed > #topbar > #navicon > #secondline {
    margin-top:10px;
}

header.small.opened > #topbar > #navicon > #firstline{
    margin: 0;
    transform: rotate(45deg);
}

header.small.opened > #topbar > #navicon > #secondline{
    margin: 0;
    transform: rotate(-45deg);
}


header.small > nav{
    position: fixed;
    margin-top: 20vw;
    background: #000000f2;
    height: 100%;
    width: 100%;
    transition-property: visibility, opacity;
    transition-duration: 200ms;
    transition-timing-function: linear;
}


header.small.closed > nav{
    opacity: 0;
    visibility: hidden;
}

header.small.opened > nav{
    opacity: 100;
}

header.small > nav > #site-name {
    color: #c7bcb6;
    font-size: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

header.small > nav > #site-name > .side-icon {
    font-size: 11px;
    padding: 13px;
}

header.small > nav > ul {
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


header.small > nav > ul > li {
    list-style: none;
    padding-top: 11px;
}

header.small > nav > ul > li > a {
    color:#a77d14;
    display: block;
    text-decoration: none;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Alegreya SC', serif;
}