

header {
    position: relative;
}

header > #topbar {
    display: grid;
    background: black;
    grid-template-columns: 10% [left] 10% [middle] 60% [right] 10% 10%;
    align-items: center;
    justify-items: center;
}

header > #topbar > #sitelogo {
    grid-column: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    background-image: url(/images/page/logo_menu_closed.webp);
    width: 90px;
    height: 90px;
    margin-top: 1.5vw;
}

header > #topbar > #sitelogo > a {
    display: block;
    height: 100%;
    width:100%;
}

header > nav {
    z-index: 1;
}

header > #topbar > div.facebook {
    grid-column: left;
    transition-property: visbility, opacity;
    transition-timing-function: linear;
    transition-duration: 200ms;
}

header > #topbar > div.facebook > img {
    max-height: 9vw;
    border-radius: 20%;
    display: block;
}

/* HEADER SMALL */

header.small.opened > #topbar > div.facebook {
    opacity: 0;
    visibility: hidden;
}

header.small > #topbar > #sitelogo {
    transition-property: background-image;
    transition-timing-function: linear;
    transition-duration: 200ms;
}

header.small.opened > #topbar > #sitelogo {
    background-image: url(/images/page/logo_menu_opened.webp);
}


header.small.opened > #topbar {
    background: #000000f2;
}

header.small > #topbar > #navicon {
    grid-column: right;
    display: grid;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
}

header.small > #topbar > #navicon > .menuline {
    transition-property: transform, margin, color;
    transition-timing-function: linear;
    transition-duration: 200ms;
    grid-column:1;
    grid-row:1;
    background: #a77d14;
    width: 29px;
    height: 4px;
}

header.small.opened > #topbar > #navicon > .menuline {
    background: #c7bcb6;
}

header.small.closed > #topbar > #navicon > #firstline {
    margin-bottom: 10px;
}

header.small.closed > #topbar > #navicon > #secondline {
    margin-top:10px;
}

header.small.opened > #topbar > #navicon > #firstline{
    margin: 0;
    transform: rotate(45deg);
}

header.small.opened > #topbar > #navicon > #secondline{
    margin: 0;
    transform: rotate(-45deg);
}


header.small > nav{
    position: fixed;
    background: #000000de;
    height: 100%;
    width: 100%;
    transition-property: visibility, opacity;
    transition-duration: 200ms;
    transition-timing-function: linear;
}


header.small.closed > nav{
    opacity: 0;
    visibility: hidden;
}

header.small.opened > nav{
    opacity: 100;
}

header.small > nav > #site-name {
    color: #c7bcb6;
    font-size: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

header.small > nav > #site-name > .side-icon {
    font-size: 2.6vw;
    padding: 2vw;
}

header.small > nav > ul {
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


header.small > nav > ul > li {
    list-style: none;
    padding-top: 2vw;
}


header.small > nav > ul > li > a {
    color:#a77d14;
    display: block;
    text-decoration: none;
    font-size: 7vw;
    font-weight: bold;
    font-family: 'Alegreya SC', serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* HEADER BIG */

header.big > nav {
    display: grid;
    grid-template-columns: 5% [left] 10% [middle] 70% [right] 10% 5%;
    grid-template-rows: [top] 50% [bottom] 50%;
    align-items: center;
    justify-items: center;
    background: #0000009e;
}


header.big > nav > #site-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: last;
    font-size: 4vw;
    width: 100%;
    background: black;
    color: #cd9303;
}

header.big > nav > ul {
    grid-column: middle;
    width: 100%;
    grid-row: bottom;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header.big > nav > ul > li {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;

}


header.big > nav > ul > li > a {
    color:#7f7055;
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Alegreya SC', serif;
    transition-property: color;
    transition-duration: 600ms;
    transition-property: color;
}

header.big > nav > ul > li > a:hover {
    color:#b9a889;
}

header.big > nav > #site-name > .side-icon {
    font-size: 20px;
    padding: 11px;
}

@media (min-width: 376px) {
    header > #topbar > #sitelogo {
        width: 105px;
        height: 105px;
    }

    header > #topbar > div.facebook > img {
        max-height: 8vw;
    }
}

@media (min-width: 510px) {
    header > #topbar > #sitelogo {
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 580px) {
    header > #topbar > div.facebook > img {
        max-height: 7vw;
    }

    header.small > #topbar > #navicon > .menuline {
        width: 32px;
    }

    header.small > nav > #site-name {
        font-size: 8vw;
    }

    header.small > nav > ul > li > a {
        font-size: 5.6vw;
    }

    header.small > nav > #site-name > .side-icon {
        font-size: 1.9vw;
        padding: 1.8vw;
    }
}

@media (min-width: 670px) {
    header > #topbar > div.facebook > img {
        max-height: 6vw;
    }

    header > #topbar > #sitelogo {
        width: 130px;
        height: 130px;
    }

    header.small > #topbar > #navicon > .menuline {
        width: 34px;
    }
}

@media (min-width: 770px) {
    header > #topbar > div.facebook > img {
        max-height: 5vw;
    }

    header.big > nav > #site-name {
        font-size: 6vw;
    }

    header.big > nav > #site-name > .side-icon {
        font-size: 2vw;
        padding: 1.4vw;
    }

    header.big > nav > ul > li > a {
        font-size: 3.3vw;
    }

    header > #topbar > #sitelogo {
        width: 120px;
        height: 120px;
        margin-bottom: 1.5vw;
    }
}

@media (min-width: 920px) {
    header > #topbar > div.facebook > img {
        max-height: 4.5vw;
    }
}

@media (min-width: 1120px) {
    header > #topbar {
        grid-template-columns: 15% [left] 10% [middle] 50% [right] 10% 15%;
    }

    header > #topbar > div.facebook > img {
        max-height: 3.5vw;
    }

    header.big > nav > #site-name {
        font-size: 5vw;
    }

    header.big > nav > #site-name > .side-icon {
        font-size: 1.5vw;
        padding: 1vw;
    }

    header.big > nav > ul > li > a {
        font-size: 2.5vw;
    }

    header > #topbar > #sitelogo {
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 1320px) {
    
    header > #topbar {
        grid-template-columns: 17% [left] 10% [middle] 46% [right] 10% 17%;
    }
    header > #topbar > div.facebook > img {
        max-height: 3.2vw;
    }

    header.big > nav > #site-name {
        font-size: 4.5vw;
    }

    header.big > nav > #site-name > .side-icon {
        font-size: 1.1vw;
        padding: 1vw;
    }

    header.big > nav > ul > li > a {
        font-size: 2.3vw;
    }
}

@media (min-width: 1560px) {
    header > #topbar {
        grid-template-columns: 19% [left] 10% [middle] 42% [right] 10% 19%;
    }

    header > #topbar > #sitelogo {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    header > #topbar > div.facebook > img {
        max-height: 2.5vw;
    }

    header.big > nav > #site-name {
        font-size: 4vw;
    }

    header.big > nav > #site-name > .side-icon {
        font-size: 0.9vw;
        padding: 0.9vw;
    }

    header.big > nav > ul > li > a {
        font-size: 2vw;
    }
}

@media (min-width: 1800px) {
    header > #topbar {
        grid-template-columns: 20% [left] 10% [middle] 40% [right] 10% 20%;
    }

    header > #topbar > #sitelogo {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    header > #topbar > div.facebook > img {
        max-height: 2vw;
    }

    header.big > nav > #site-name {
        font-size: 3.4vw;
    }

    header.big > nav > #site-name > .side-icon {
        font-size: 0.7vw;
        padding: 0.7vw;
    }

    header.big > nav > ul > li > a {
        font-size: 1.8vw;
    }
}