#sitelogo {
    grid-column: middle;
    text-align: center;
}

#sitelogo > img {
    height: 20vw;
}

#navbar.small {
    display: grid;
    background:rgba(0, 0, 0, 0.842);
    grid-template-columns: [left] 10% [middle] 80% [right] 10%;
    transition-property: background;
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#navbar.small.opened {
    background: #000000f2;
}

#navbar.small > #navicon {
    grid-column: right;
    display: grid;
    justify-content: center;
    align-items: center;
}

#navbar.small > #navicon > .menuline {
    transition-property: transform, margin;
    transition-timing-function: linear;
    transition-duration: 200ms;
    grid-column:1;
    grid-row:1;
    background: #a77d14;
    width: 35px;
    height: 5px;
}

#navbar.small.closed > #navicon > #firstline {
    margin-bottom: 10px;
}

#navbar.small.closed > #navicon > #secondline {
    margin-top:10px;
}

#navbar.small.opened > #navicon > #firstline{
    margin: 0;
    transform: rotate(45deg);
}

#navbar.small.opened > #navicon > #secondline{
    margin: 0;
    transform: rotate(-45deg);
}


#navbar.small > nav{
    width: 100%;
    grid-column-start: left;
    grid-column-end: end;
    height: 0;
    z-index: 0;
}

#navbar.small.closed > nav > ul {
    opacity: 0;
    visibility: hidden;
}

#navbar.small.opened > nav > ul {
    opacity: 100;
}

#navbar.small > nav > ul {
    background: #000000f2;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition-property: visibility, opacity;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

#navbar.small > nav > ul > li {
    list-style: none;
}

#navbar.small > nav > ul > li > a {
    color:#a77d14;
    display: block;
    text-decoration: none;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Alegreya SC', serif;
}