html {
    background: black;
    min-width: 320px;
}

a {
    color: #a77d14;
    text-decoration: none;
}

body {
    margin:0;
    padding:0;
    color:#d0d0d0;
    min-width: 320px;
}

.transparent-background {
    background: rgb(0 0 0 / 68%);
}

.preload *{
    transition: 0s linear !important;
}

#background-car-img {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    opacity: 0;
    background-image: url(/images/page/body.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    transition-property: opacity;
    transition-duration: 400ms;
    transition-timing-function: linear;
}

#back-to-the-top-button {
    position: fixed;
    pointer-events: none;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: [left] 87% [button] 9% [right] 4%;
    grid-template-rows: [top] 87% [button-row] 6% [bottom] 7%;
    justify-items: center;
    align-items: center;
    z-index: 1;
}

#back-to-the-top-button > i {
    grid-column: button;
    grid-row: button-row;
    visibility: hidden;
    opacity: 0;
    width: 35px;
    height: 35px;
    pointer-events: all;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #856002;
    border-radius: 50%;
    color: #473e3e;
    transition-property: visibility opacity background-image;
    transition-timing-function: linear;
    transition-duration: 200ms;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


#body-content {
    position: relative;
    display: grid;
    grid-template-columns: [left] 10% [middle] 80% [right] 10%;
}



.first-content {
    margin-top: 1.5vw;
}

.content {
    grid-column: middle;
    background: #61616166;
    padding:3%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content-title {
    text-align: center;
    color:#cd9303;
    font-size: 1.4em;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.wide-img {
    max-width: 100%;
}

.text {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    line-height: 5vw;
}

.text-justyfied {
    text-align: justify;
}

.text-centered {
    text-align: center;
}

.text-link {
    font-weight: bold;
}

.grid-text-title {
    font-size: 1.2em;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.grid-text {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    line-height: 6vw;
}

.fa-arrow-right,
.fa-arrows-left-right {
    font-size: 0.7em;
}

.payment-icons-title {
    font-size: 0.9em;
}

#payment-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-icon {
    height: 20px;
    margin-left: 3vw;
    margin-right: 3vw;
}

.grid-price-list {
    display: grid;
    grid-template-columns: [column-1] 75% [column-2] auto;
    justify-content: center;
    margin-bottom: 3vw;
}

.grid-costumer-service {
    display: grid;
    grid-template-columns: [column-1] 45% [column-2] 45%;
    justify-content: center;
    align-items: center;
}

.column-1 {
    grid-column: column-1;
}

.column-2 {
    grid-column: column-2;
}

.column-all {
    grid-column-start: 1;
    grid-column-end: last;
}

.row-1 {
    grid-row: row-1;
}

.row-2 {
    grid-row: row-2;
}

.row-3 {
    grid-row: row-3;
}

.row-all {
    grid-row-start: 1;
    grid-row-end: last;
}

.costumer-service-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.costumer-service-img {
    border-radius: 33%;
    width: 85px;
    z-index: 1;
}

.costumer-service-img-background {
    width: 91px;
    height: 64px;
    background: #cccccc;
    position: absolute;
    z-index: 0;
    border-radius: 27%;
    margin-top: 10px;
}

.costumer-service-text-container {
    display: flex;
    flex-direction: column;
    line-height: 6.5vw;
}

.costumer-service-big-font {
    font-size: 1em;
}

.costumer-service-medium-font {
    font-size: 1em;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    color:#c5c5c5;
    width: 100%;
    height: 50px;
    background: #614a216e;
}


@media (min-width: 376px) {
    #back-to-the-top-button > i {
        width: 40px;
        height: 40px;
    }

    .content-title {
        font-size: 1.5em;
    }

    .text {
        font-size: 0.8em;
    }

    .grid-text-title {
        padding-top: 2vw;
        padding-bottom: 2vw;
        font-size: 1.2em;
    }

    .grid-text {
        line-height: 6vw;
        font-size: 0.8em;
    }
    
    .payment-icon {
        height: 15px;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .support-img {
        width: 93px;
    }

    .support-img-background {
        margin-top: 17px;
    }

    .costumer-service-text-container {
        line-height: 6vw;
    }

    footer {
        font-size: 0.6em;
    }
}

@media (min-width: 480px) {
    #back-to-the-top-button > i {
        width: 43px;
        height: 43px;
    }

    .content-title {
        font-size: 1.8em;
    }

    .text {
        font-size: 0.9em;
    }

    .text > p {
        margin-top: 2vw;
        margin-bottom: 2vw;
        line-height: 4.2vw;
    }

    .grid-text-title {
        font-size: 1.2em;
    }

    .grid-text {
        font-size: 0.9em;
        line-height: 5vw;
    }

    .payment-icons-title {
        font-size: 1em;
        padding-top: 2vw;
    }

    .payment-icon {
        height: 22px;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }

    .grid-costumer-service {
        grid-template-columns: [column-1] 35% [column-2] 35%;
    }

    .costumer-service-img {
        width: 101px;
    }

    .costumer-service-img-background {
        width: 98px;
        height: 68px;
        margin-top: 20px;
    }

    .costumer-service-text-container {
        line-height: 4.8vw;
    }

    .costumer-service-big-font {
        font-size: 1.2em;
    }

    .costumer-service-medium-font {
        font-size: 1.1em;
    }
   
    footer {
        font-size: 0.7em;
    }

}

@media (min-width: 580px) {
    .content-title {
        font-size: 2em;
    }

    .text {
        font-size: 1em;
    }

    .grid-price-list {
        grid-template-columns: [column-1] 65% [column-2] auto;
    }

    .grid-text-title {
        font-size: 1.3em;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
    }

    .grid-text {
        font-size: 1em;
        line-height: 5vw;
    }

    .fa-arrow-right,
    .fa-arrows-left-right {
        font-size: 0.8em;
    }

    .payment-icon {
        height: 24px;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    
    .costumer-service-text-container {
        line-height: 4vw;
    }
}

@media (min-width: 620px) {
    #back-to-the-top-button > i {
        width: 45px;
        height: 45px;
    }

    .content-title {
        font-size: 2.5em;
    }

    .text {
        font-size: 1em;
    }
    
    .text > p {
        margin-top: 1vw;
        margin-bottom: 1vw;
        line-height: 4vw;
    }

    .grid-text-title {
        font-size: 1.2em;
        padding-top: 1.4vw;
        padding-bottom: 1.4vw;
    }

    .grid-text {
        font-size: 1em;
        line-height: 4vw;
    }

    .payment-icons-title {
        font-size: 1em;
    }

    .costumer-service-img {
        width: 108px;
    }

    .costumer-service-img-background {
        width: 106px;
        height: 72px;
        margin-top: 22px;
    }

    .costumer-service-text-container {
        line-height: 3.3vw;
    }

    .costumer-service-big-font {
        font-size: 1.3em;
    }

    .costumer-service-medium-font {
        font-size: 1.2em;
    }
    
    footer {
        font-size: 0.8em;
    }
}

@media (min-width: 769px) {
    #back-to-the-top-button > i {
        width: 48px;
        height: 48px;
    }

    #back-to-the-top-button > i:hover {
        background:#cd9303;
    }

    .content-title {
        font-size: 3em;
    }

    .text {
        font-size: 1.2em;
    }

    .text > p {
        margin-top: 1vw;
        margin-bottom: 1vw;
        line-height: 3.4vw;
    }

    .grid-price-list {
        grid-template-columns: [column-1] 60% [column-2] auto;
    }

    .grid-text-title {
        font-size: 1.2em;
        padding-top: 1.1vw;
        padding-bottom: 1.1vw;
    }

    .grid-text {
        font-size: 1.2em;
        line-height: 4vw;
    }

    .fa-arrow-right,
    .fa-arrows-left-right {
        font-size: 0.7em;
    }

    .payment-icons-title {
        font-size: 1em;
        padding-top: 2vw;
    }

    .payment-icon {
        height: 28px;
    }

    .grid-costumer-service {
        grid-template-columns: [column-1] 30% [column-2] 30%;
    }

    .costumer-service-img {
        width: 120px;
    }

    .costumer-service-img-background {
        margin-top: 20px;
        width: 120px;
        height: 84px;
    }

    .costumer-service-big-font {
        font-size: 1.5em;
    }

    .costumer-service-medium-font {
        font-size: 1.4em;
    }
}


@media (min-width: 1020px) {
    #back-to-the-top-button {
        grid-template-columns: [left] 83% [button] 9% [right] 8%;
    }

    #back-to-the-top-button > i {
        width: 50px;
        height: 50px;
    }

    #body-content {
        grid-template-columns: [left] 15% [middle] 70% [right] 15%;
    }

    .content-title {
        font-size: 2.4em;
    }

    .text {
        font-size: 1.2em;
    }

    .text > p {
        margin-top: 0.7vw;
        margin-bottom: 0.7vw;
        line-height: 3vw;
    }

    .grid-price-list {
        grid-template-columns: [column-1] 60% [column-2] auto;
    }

    .grid-text-title {
        font-size: 1.3em;
        padding-top: 0.6vw;
        padding-bottom: 0.6vw;
    }
    
    .grid-text {
        font-size: 1.2em;
        line-height: 3.5vw;
    }

    .payment-icons-title {
        font-size: 1em;
        padding-top: 1.8vw;
    }
    .payment-icon {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }

    .costumer-service-big-font {
        font-size: 1.8em;
    }
    
    .costumer-service-medium-font {
        font-size: 1.7em;
    }

    .costumer-service-img {
        width: 130px;
    }

    .costumer-service-img-background {
        margin-top: 24px;
        width: 130px;
        height: 89px;
    }
}


@media (min-width: 1250px) {
    #back-to-the-top-button {
        grid-template-columns: [left] 80% [button] 9% [right] 11%;
    }

    #back-to-the-top-button > i {
        width: 51px;
        height: 51px;
    }

    #body-content {
        grid-template-columns: [left] 18% [middle] 64% [right] 18%;
    }

    .content-title {
        font-size: 2.8em;
    }

    .text {
        font-size: 1.1em;
    }

    .text > p {
        line-height: 2.7vw;
    }

    .grid-price-list {
        grid-template-columns: [column-1] 55% [column-2] auto;
    }
    
    .grid-text-title {
        font-size: 1.3em;
        padding-top: 0.6vw;
        padding-bottom: 0.6vw;
    }
    
    .grid-text {
        font-size: 1.1em;
        line-height: 3vw;
    }
    
    .fa-arrow-right,
    .fa-arrows-left-right {
        font-size: 0.8em;
    }

    .payment-icons-title {
        font-size: 1em;
        padding-top: 2vw;
    }

    .payment-icon {
        height: 31px;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }

    .costumer-service-text-container {
        line-height: 2.6vw;
    }

    .costumer-service-big-font {
        font-size: 1.7em;
    }
    
    .costumer-service-medium-font {
        font-size: 1.6em;
    }

    footer {
        font-size: 0.8em;
    }
}

@media (min-width: 1560px) {
    #back-to-the-top-button {
        grid-template-columns: [left] 78% [button] 9% [right] 13%;
    }

    #body-content {
        grid-template-columns: [left] 20% [middle] 60% [right] 20%;
    }

    .text {
        font-size: 1.2em;
    }

    .text > p {
        margin-top: 0.7vw;
        margin-bottom: 0.7vw;
        line-height: 2vw;
    }

    .first-content {
        margin-top: 1vw;
    }

    .content-title {
        font-size: 3em;
    }

    .grid-price-list {
        grid-template-columns: [column-1] 55% [column-2] auto;
    }
    
    .grid-text-title {
        font-size: 1.4em;
        padding-top: 0.6vw;
        padding-bottom: 0.6vw;
    }
    
    .grid-text {
        font-size: 1.2em;
        line-height: 2.5vw;
    }
    
    .fa-arrow-right,
    .fa-arrows-left-right {
        font-size: 0.7em;
    }

    .payment-icons-title {
        font-size: 1em;
        padding-top: 1.6vw;
    }
    .payment-icon {
        height: 32px;
        margin-left: 1.3vw;
        margin-right: 1.3vw;
    }

    .grid-costumer-service {
        grid-template-columns: [column-1] 30% [column-2] 30%;
    }

    .costumer-service-text-container{
        line-height: 2.5vw;
    }

    .costumer-service-big-font {
        font-size: 1.8em;
    }
    
    .costumer-service-medium-font {
        font-size: 1.7em;
    }

    footer {
        font-size: 0.8em;
    }
}

@media (min-width: 1800px) {
    #back-to-the-top-button {
        grid-template-columns: [left] 74% [button] 9% [right] 17%;
    }

    #back-to-the-top-button > i {
        width: 52px;
        height: 52px;
    }

    #body-content {
        grid-template-columns: [left] 23% [middle] 54% [right] 23%;
    }

    .content-title {
        font-size: 2.5em;
        margin-top: 0.4vw;
        margin-bottom: 0.4vw;
    }

    .grid-price-list {
        grid-template-columns: [column-1] 50% [column-2] auto;
    }

    .grid-text-title {
        font-size: 1.4em;
    }
    
    .grid-text {
        font-size: 1.2em;
        line-height: 2vw;
    }
    
    .payment-icons-title {
        font-size: 1em;
        padding-top: 1.2vw;
    }
    .payment-icon {
        height: 32px;
        margin-left: 1.2vw;
        margin-right: 1.2vw;
    }

    .grid-costumer-service {
        grid-template-columns: [column-1] 20% [column-2] 20%;
    }

    .costumer-service-text-container {
        line-height: 1.8vw;
    }

    .costumer-service-big-font {
        font-size: 1.6em;
    }
    
    .costumer-service-medium-font {
        font-size: 1.5em;
    }

    footer {
        font-size: 0.8em;
    }
}

@media (min-width: 2300px) {
    #back-to-the-top-button {
        grid-template-columns: [left] 71% [button] 9% [right] 20%;
    }

    #back-to-the-top-button > i {
        width: 58px;
        height: 58px;
    }

    #body-content {
        grid-template-columns: [left] 26% [middle] 48% [right] 26%;
    }

    .content-title {
        font-size: 3em;
        margin-top: 0.3vw;
        margin-bottom: 0.3vw;
    }

    .text {
        font-size: 1.4em;
    }

    .text > p {
        line-height: 1.6vw;
    }

    .grid-text-title {
        font-size: 1.4em;
    }
    
    .grid-text {
        font-size: 1.2em;
        line-height: 1.4vw;
    }
    
    .fa-arrow-right,
    .fa-arrows-left-right {
        font-size: 0.6em;
    }

    .payment-icons-title {
        font-size: 1em;
        padding-top: 1vw;
    }
    .payment-icon {
        height: 35px;
        padding-left: 0.2vw;
        padding-right: 0.2vw;
    }

    .costumer-service-img {
        width: 145px;
    }

    .costumer-service-img-background {
        margin-top: 29px;
        width: 137px;
        height: 99px;
        border-radius: 21%;
    }

    .costumer-service-text-container {
        line-height: 1.5vw;
    }

    .costumer-service-big-font {
        font-size: 2em;
    }
    
    .costumer-service-medium-font {
        font-size: 1.9em;
    }

    footer {
        font-size: 1em;
    }
}