.pricelist{
display: grid;
grid-template-columns: [name] 50% [price] auto;
justify-content: center;
}

.price-name {
    grid-column: name;
}

.price-title {
    grid-column: name;
    padding-top: 10px;
    padding-bottom: 10px;
}

.price-amount {
    grid-column: price;
}